/* src/index.css */
#about,
#projects,
#contact{

scroll-margin-top: 75px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
  }
  
  *, *::before, *::after {
    box-sizing: inherit; /* Herda o box-sizing do body */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  
  /* Ajuste dentro da media query se a altura do header mudar no mobile */
@media (max-width: 600px) {
  #about,
  #projects,
  #contact {
    /* Ajuste para a altura REAL do seu header no mobile */
    scroll-margin-top: 85px;
  }
}